<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="style.css">
    <title>Read</title>
</head>
<body onload="Afisare()">
    <div id="afisare1"></div>

    <br>
    <button onclick="Element('')">Back</button>

    <script src="/rute.js"></script>
</body>
</html>