<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="style.css">
    <title>Update</title>
</head>
<body>
        <label for="index">Index</label>
        <br>
        <input type="text" id="index" name="index">
        <br>
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <br>
        <button onclick="Informatii()">Submit</button>
        <br>
        <br>
    <button onclick="Element('read')">Back</button>



    <script src="/rute.js"></script>

</body>
</html>